/* Master styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    
}

.container {

    display: grid;color: rgba(3, 3, 3, 0.548);
    grid-template-columns: 1fr;
   
}
/*Nav style about*/
.container1 {
    display: grid;background-color: rgb(117, 117, 117);
    grid-template-columns: 1fr;
}
.nav-wrapper1 {
    display:flex;
    justify-content: space-evenly;
    padding: 38px;
}
.nav-link-wrappers{
    display:flex;
}
.nav-wrapper1 > .nav-link-wrappers > div {
    margin-right: 40px;
    font-size: 0.9em;
    text-transform: uppercase;
    
}
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper1 a {
    color: rgba(0, 1, 8, 0.993);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper1:hover {
    border-bottom: 1px solid rgb(5, 204, 253);
}

.nav-link-wrapper1 a:hover {
    color: rgb(5, 202, 252);
}

.active-nav-link {
    border-bottom: 1px solid rgb(3, 237, 253);
}
.active-nav-link a{
    color: rgb(1, 200, 250) !important;
}

/*Nav styles */
.nav-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 38px;
        background: linear-gradient(to bottom right,grey,white)
        

    }



.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
     margin-right: 20px;
     font-size: 0.9em;
     text-transform: uppercase;
     
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: rgba(95, 81, 2, 0.993);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}
.active-nav-link a{
    color: black !important;
}

/*Portfolio styles */


.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    

}

.portfolio-item-wrapper {
    position: relative;
    

}

.portfolio-img-background {
    
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
   
}


.img-text-wrapper .subtitle {
    height: 22px;
    border-bottom: transparent;
    transition: border-bottom 0.5s;
    color: transparent;
}

.img-text-wrapper .subtitle a {
    color: rgba(255, 218, 6, 0.548);
    text-decoration: none;
    transition: color 0.5s;
    color: transparent;
}


.img-text-wrapper .subtitle:hover {
    border-bottom: 1px solid rgba(255, 218, 6, 0.548);
}

.img-text-wrapper:hover .subtitle a {
    color: rgba(255, 218, 6, 0.548);
}

.active-nav-link .subtitle{
    border-bottom: 1px transparent rgba(255, 218, 6, 0.548);
}
.active-nav-link .subtitle a{
    color: rgba(255, 218, 6, 0.548) !important;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);

}

/* About page */

.info-wrapper {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr;
   
}

.picture-image-wrapper img {
    width: 100%
}

.profile-content-wrapper {
    padding: 30px;

}

.profile-content-wrapper h1 {
    color: lightseagreen;
}
/*Petrol Engine*/
.three-column-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 0.3fr;
    background-color: aliceblue;

}
.engine-picture img {
    width: 100%;
}
.petrol-content-wrapper p{
    text-align: center;
    color:black;
    
}

 

/*Disel Engine*/
.three1-column-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 0.3fr;
    /* background-image: url(engines/Light-wood-wallpaper-background-HD.jpg); */
    background: linear-gradient(to bottom right,rgb(231, 230, 230),rgb(115, 116, 115))
   

}
.disel-image-wrapper img {
    width: 78%;
}
.txt-content-wrapper{
    text-align: center;
    color:  rgba(95, 81, 2, 0.993);
    
}
/*Hydro engine*/
.three2-column-wrapper{
    display:grid;
    grid-template-columns:0.3fr 0.5fr 0.3fr;
    background-color: rgb(204, 203, 202);

}
.hydro-image-wrapper img {
    width: 100%;
}
.txt1-content-wrapper {
    text-align: center;
    color:  rgba(95, 81, 2, 0.993);
    
}
/*Electric engine*/
.three3-column-wrapper{
    display:grid;
    grid-template-columns:1fr 0.5fr 0.3fr;
    background-image: url(engines/Free-download-wood-wallpapers-HD.jpg);

}
.electriceng-image-wrapper img {
    width: 100%;
}
.txt1-content-wrapper h1{
    text-align: center;
}
/*Steam engine*/
.three4-column-wrapper{
    display:grid;
    grid-template-columns:0.6fr 1fr 0.6fr;
    background: linear-gradient(to bottom left,white,rgb(99, 97, 97));
    background-image: url(engines/steam/Lights-effects-isolated-on-transparent-background-PNG.png);
    

}
.steam-image-wrapper img {
    width: 100%;
}
.steam-content-wrapper p{
    text-align: center;
    
}
.steam2-image-wrapper img{
    width: 100%;
}
/*Jet engine*/
.three5-column-wrapper{
    display:grid;
    grid-template-columns:0.6fr 1fr 0.6fr;
    background: linear-gradient(to bottom left,white,rgb(99, 97, 97));
    background-image: url(engines/steam/Lights-effects-isolated-on-transparent-background-PNG.png);
    
    

}
.jet-image-wrapper img {
    width: 100%;
}
.textjet-content-wrapper p{
    text-align: center;
    
}
.otherjet-content-wrapper img{
    width: 100%;
}

.container-center {
    display: block;
    max-width: 800px;
    margin: auto;
}

label {
    min-width: 115px;
    display: inline-block;
}

.logo-wrapper img { max-width: 100px;}

.error {
    color:brown;
}
.success{
    color:green;
}

